<link href="~/css/CreateCurriculo.css" rel="stylesheet" />
<script src="~/js/CreateCurriculo.js"></script>

<div class="formataDiv">
    <br/>
    <h1 class="tituloPagina">Criação de novos currículos </h1>
    <br/>
</div>
<br />
<hr />
<form asp-action="Post">
    <input type="text" name="edicao" value="false" hidden />
    <section class="py-3">
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Informações Pessoais</h3>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div class="card-body">
                        Nome <br />
                        <input class="form-control" type="text" name="Nome" /><br />
                        CPF <br />
                        <input class="form-control" type="text" name="CPF" /><br />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div class="card-body">
                        Endereço <br />
                        <input class="form-control" type="text" name="Endereco" /> <br />
                        Telefone <br />
                        <input class="form-control" type="text" name="Telefone" /> <br />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div>
                        <div class="card-body">
                            E-mail <br />
                            <input class="form-control" type="text" name="Email" /> <br />
                            Pretensão salarial <br />
                            <input class="form-control" type="text" name="PretensaoSalarial" /> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Formações academicas</h3>
                </div>
                <div id="ConteudoInternoFormacaoAcademica" class="row ConteudoInterno">
                    <div id="Formacao1" class="row innerContent">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Tipo Formação <br />
                                <select class="form-control" name="medidas" value="med">
                                    <option value="1">Fundamental</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Tecnico</option>
                                    <option value="4">Tecnologo</option>
                                    <option value="5">Superior</option>
                                    <option value="6">Pos</option>
                                    <option value="7">Mestrado</option>
                                    <option value="8">Doutorado</option>
                                </select> <br />
                                Nome da Formação <br />
                                <input class="form-control" type="text" name="TituloFormacao1" /> <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data de início <br />
                                <input class="form-control" type="date" name="DataInicioFormacao1" /> <br />
                                Data de Término <br />
                                <input class="form-control" type="date" name="DataTerminoFormacao1" /> <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input class="btn btn-success" type="button" value="Adicionar mais" />    <br />
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <hr />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Experiências profissionais</h3>
                </div>
                <div id="ConteudoInternoExperienciasProfissionais" class="row ConteudoInterno">
                    <div id="ExperienciaProfissional1" class="row innerContent">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 my-1">
                            <div class="card-body">
                                Função  <br />
                                <input class="form-control" type="text" name="CargoOcupadoExp1" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data início <br />
                                <input class="form-control" type="date" name="DataInicioExp1" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data término <br />
                                <input class="form-control" type="date" name="DataTerminoExp1" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <input class="btn btn-success" type="submit" value="Adicionar mais" />    <br />
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <hr />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Dados de idioma</h3>
                </div>
                <div id="ConteudoInternoIdiomas" class="row ConteudoInterno">
                    <div id="Idioma" class="row innerContent">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(0)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" name="Idioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" name="LeituraIdioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" name="EscutarIdioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" name="FalarIdioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" hidden>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(1)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" name="Idioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" name="LeituraIdioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" name="EscutarIdioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" name="FalarIdioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" hidden>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(2)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" name="Idioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" name="LeituraIdioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" name="EscutarIdioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" name="FalarIdioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" hidden>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(3)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" name="Idioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" name="LeituraIdioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" name="EscutarIdioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" name="FalarIdioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" hidden>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(4)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" name="Idioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" name="LeituraIdioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" name="EscutarIdioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" name="FalarIdioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input id="btnAdicionaIdioma" class="btn btn-success" type="button" value="Adicionar mais" onclick="javascript:adicionaIdioma()"/>    <br />
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <div class="formataDiv">
        <input class="btn btn-success btnRodape" type="submit" contextmenu="Enviar" />
        <input class="btn btn-success btnRodape" type="submit" value="Voltar" />
    </div>
</form>