<link href="~/css/CreateCurriculo.css" rel="stylesheet" />
<body style="background-color: #23527c ">
</body>
<section class="py-3">
    <div class="container">
        <div class="row grid-divider formataDiv">
            <h1 style="margin-left: 40px; margin-top: 40px;">Bem vindo ao currículos Fesa</h1>
            <br />
            <hr class="mt-2 mb-3" />
            <br />
            <h3 style="margin-left: 20px;">Aqui é onde começaremos o processo de criar o seu currículo!</h3>
            <br />
            <div class="border-top my-3"></div>
            <br />
            <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                <div class="card-body">
                    Aqui, você pode criar novos currículus e testar as opções que existem em nosso site!
                    <hr />
                    <a href="~/Curriculo/Create" class="btn btn-success">Criar</a>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                <div class="card-body">
                    Já aqui você pode revisitar currículus já feitos, além de por edita-los e excluir antigos!
                    <hr />
                    <a href="~/Curriculo" class="btn btn-success">Editar</a>
                </div>
            </div>
        </div>
    </div>
</section>